.circle{
background-color: black;
display: inline-block;
}

#first{
margin-right: 50%;
border-radius: 50%;
height: 100px;
width: 100px;
line-height: 100px;
padding-top: 18px;
}

#second{
border-radius: 50px;
height: 100px;
width: 100px;
line-height: 100px;
padding-top: 16px;
margin-top: 150px;
color: white;
}

#third{
margin-left: 50px;
border-radius: 50px;
height: 100px;
width: 100px;
line-height: 100px;
padding-top: 16px;
}

#name{
position:absolute;
left: 26%;
}

#sl{
position:absolute;
right: -300px;
bottom: -438px;
width: 600px;
height: 500px; 
}
